#Sun, 31 Mar 2013 08:08:13 -0500
app.name=FlisolApp

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=e8cd3e15-59af-4dd4-a8b6-0ffef4e40bb1
